.grid-item{width:45vw}
/* highlight drag & drop */

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: var(--dark);
  color: var(--light);
  z-index: 2; /* keep dragged item on top */
}


.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {

  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
