@font-face {
  font-family: libre-franklin;
  src: url(Libre_Franklin/LibreFranklin-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: lato;
  src: url(Lato/Lato-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: dancing;
  src: url(Dancing_Script/static/DancingScript-Regular.ttf);
  font-weight: 100;
}
