@media (min-width: 300px) {

  .mastTitle{
  height:10%;
   position:absolute;
    bottom:110px;
    left:20vw;
    font-size:3vh
  }
    .mastTitle-2{
  height:10%;
   position:absolute;
    bottom:40px;
    left:20vw;
    font-size:2vh;
    opacity:0.8;
  }
    .mastTitle-sub{
  height:10%;
   position:absolute;
    top:35px;
    left:4vh;
    font-size:5vh
  }
    .mastTitle-sub-2{
  height:10%;
   position:absolute;
    left:4vh;
    font-size:2.3vh;
    opacity:0.8;
    top:95px
  }

  nav.navbar{
  font-family:libre-franklin;
  padding-left:4vh;
  }
  .top.active{
  color: var(--green) !important;
  }
  }
@media (min-width: 768px) {

  .mastTitle{
  height:10%;
   position:absolute;
    bottom:110px;
    left:20vw;
    font-size:5vh
  }
    .mastTitle-2{
  height:10%;
   position:absolute;
    bottom:40px;
    left:20vw;
    font-size:2.3vh;
    opacity:0.8;
  }
    .mastTitle-sub{
  height:10%;
   position:absolute;
    top:35px;
    left:40vh;
    font-size:5vh
  }
    .mastTitle-sub-2{
  height:10%;
   position:absolute;
    left:40vh;
    font-size:2.3vh;
    opacity:0.8;
    top:95px
  }

  nav.navbar{
  font-family:libre-franklin;
  padding-left:4vh;
  }
  .top.active{
  color: var(--green) !important;
  }
  }
@media (min-width: 1024px) {

  .mastTitle{
  height:10%;
   position:absolute;
    bottom:110px;
    left:4vh;
    font-size:5vh
  }
    .mastTitle-2{
  height:10%;
   position:absolute;
    bottom:40px;
    left:4vh;
    font-size:2.3vh;
    opacity:0.8;
  }
    .mastTitle-sub{
  height:10%;
   position:absolute;
    top:8vh;
    left:4vh;
    font-size:5vh
  }
    .mastTitle-sub-2{
  height:10%;
   position:absolute;
    left:4vh;
    font-size:2.3vh;
    opacity:0.8;
    top:14vh;
  }

  nav.navbar{
  font-family:libre-franklin;
  padding-left:4vh;
  }
  .top.active{
  color: var(--green) !important;
  }
  }
@media (min-width: 1200px) {

  .mastTitle{
  height:10%;
   position:absolute;
    bottom:110px;
    left:40vh;
    font-size:5vh
  }
    .mastTitle-2{
  height:10%;
   position:absolute;
    bottom:40px;
    left:40vh;
    font-size:2.3vh;
    opacity:0.8;
  }
    .mastTitle-sub{
  height:10%;
   position:absolute;
    top:35px;
    left:40vh;
    font-size:5vh
  }
    .mastTitle-sub-2{
  height:10%;
   position:absolute;
    left:40vh;
    font-size:2.3vh;
    opacity:0.8;
    top:95px
  }

  nav.navbar{
  font-family:libre-franklin;
  padding-left:40vh;
  }
  .top.active{
  color: var(--green) !important;
  }
  }

.masthead{
  margin-bottom:0;
  height: 90vh;
  overflow: auto;
  font-family:lato;
  font-style:normal;
  background-image: url('https://socrathematics.github.io/succulents.jpg');
  background-size:cover;
  background-attachment:fixed
  }
    .masthead-sub{
  margin-bottom:0;
  height: 20vh;
  overflow: auto;
  font-family:lato;
  font-style:normal;
  background-image: url('https://socrathematics.github.io/succulents.jpg');
  background-size:cover;
  background-attachment:fixed
  }

