
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
body {
font-family:lato;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);}

.page-link {
    color:var(--green);
}

.page-link:hover{
    color: #1e7e34;}

.nav-link {
    color:var(--green);
}

.nav-item.active .nav-link {
    background-color:var(--green);
    color: #fff;
}

.nav-item .active.nav-link {
    background-color:var(--green);
    color: #fff;
}

.nav-item .active.nav-link:not(.top) {
    background-color:var(--green);
    color: #fff;
}
.nav-link:hover{
    color: #1e7e34;}

a:link{
    color:var(--green);
}

.link {
color:var(--green);
}
.link:hover{
color: #1e7e34;
text-decoration:none;
}
a:link:hover{
color: #1e7e34;
text-decoration:none;
}
/* In progress: building an automatic dark mode.
@media (prefers-color-scheme: dark) {
  body {
    background-color: #272727;
    color: #ccc;
  }
}
*/



